.App {
}

.header {
  position: sticky;
  top: 0;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.bpmInput {
  width: 3em;
}

.stepsPerBeatInput {
  width: 2em;
}
