.App {
  div[role='toolbar'] {
    display: flex;
    gap: 5px;
    margin: 10px;
  }
}

.header {
  position: sticky;
  top: 0;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
