.patternEditor {
  table {
    border-spacing: 5px;
  }
}

.noteCell {
  background: #888;
  border-radius: 5px;
  color: #333;
  margin: 10px;
  font-size: 13px;
  padding: 4px;
  cursor: pointer;
  user-select: none;
}

.noteSelected {
  background: #ff0;
}
